.table-container {
  overflow: auto;
  height: calc(100vh - 95px);
}

.table-scrollbar-container {
  overflow: auto;
  height: auto;
  max-height: calc(100vh - 95px);
}

table {
  font-family: sans-serif;
  border-collapse: collapse;
  table-layout: fixed;
  border-left: 0.2px solid rgba(137, 131, 131, 0.4);
  border-right: 0.2px solid rgba(137, 131, 131, 0.4);
  border-bottom: 0.2px solid rgba(137, 131, 131, 0.4);
  color: rgba(0, 0, 0, 0.6);
  font-size: 10px;
  font-weight: 600;
}

.borderTop{
  border-top: 0.2px solid rgba(137, 131, 131, 0.4);
}

thead {
  position: sticky;
  top: 0;
  z-index: 50;
  /* outline: 0.5px solid rgba(137, 131, 131, 0.4) !important; */
}

.row-tr {
  /* border: 0.5px solid rgb(9, 8, 8); */
  border-collapse: collapse;
  height: 20px;
}

td {
  padding: unset;
}

th {
  padding: unset;
  /* border-right: 0.5px solid rgba(137, 131, 131, 0.4); */
  outline: 0.2px solid rgba(137, 131, 131, 0.4);
  /* min-width: 90px; */
}

/* th div{
  border-top: 0.5px solid rgba(137, 131, 131, 0.4);
} */

th,
.sub-column-th {
  background-color: #f5f5f5;
  text-align: center;
  /* outline: 0.5px solid rgb(137, 131, 131); */
}

.sub-column-th {
  min-width: 92px;
}

th:first-child,
td:first-child {
  position: sticky;
  left: 0;
  /* background-color: #f5f5f5; */
  /* outline: 0.5px solid rgb(137, 131, 131); */
  z-index: 3;
}

.td:first-child {
  /* outline: 0.5px solid rgba(137, 131, 131, 0.4); */
  min-width: 180px;
}

tr:nth-child(odd) {
  background-color: #fff;

}

tr:nth-child(even) {

  background-color: #F5F5F5;
}

/* th{
  outline: 0.2px solid rgba(137, 131, 131, 0.4);
} */
.freezeTh {
  border: 1px solid rgba(137, 131, 131, 0.4);
}

.freezeTr {
  outline: 0.2px solid rgba(137, 131, 131, 0.4);
}

.sub-column-heading {
  display: flex;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  height: 30px;
}

.sub-column-heading div {
  width: calc(100% / 3);
  /* padding-right: 4px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-flex {
  display: flex;
  align-items: center;
}

.display-flex .ui5-icon-styles {
  color: black !important;
  font-size: 5px !important;
  width: 10px !important;
  height: 10px !important;
  padding: 3px !important;
}

.displayFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.department-td {
  background-color: #A9A9A9;
  display: flex;
  padding-top: 4px;
  align-items: center;
}

.department-td div {
  align-items: center;
  justify-content: start;
}

.department-td .ui5-icon-styles {
  color: black !important;
  font-size: 5px !important;
  width: 10px !important;
  height: 10px !important;
  padding: 3px !important;

}

.row-year-th {
  background-color: #f5f5f5;
  display: flex;
  margin-top: 4px;

}


.columns-container {
  display: flex;
  justify-content: space-between;
  border: 0.5px solid grey;
  padding: 1px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  /* align-items:center; */
}

.columns-flex {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 30px;
  /* margin-top:18px; */
}

.columns-flex .ui5-icon-styles {
  color: black !important;
  font-size: 5px !important;
  width: 10px !important;
  height: 10px !important;
  padding: 3px !important;
}

.empty-span {
  padding: 8px;
}

.height-30 {
  height: 30px;
}

.height-60 {
  height: 60.5px !important;
}

.height-90 {
  height: 90.5px !important;
}

.expanded-year {
  /* margin-top: 4px; */
  align-items: center;
  justify-content: start;
}

.class-items-flex {
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: #C0C0C0
}

.class-items-flex div {
  align-items: center;
  justify-content: start;
}

.class-items-flex .ui5-icon-styles {
  color: black !important;
  font-size: 5px !important;
  width: 10px !important;
  height: 10px !important;
  padding: 3px !important;


}

.batch-items-flex {
  display: flex;
  align-items: center;
  padding-left: 30px;
  background-color: #D3D3D3;
}

.student-items-flex {
  display: flex;
  align-items: center;
  margin-left: 55px;
}

.sub-columns-data {
  display: flex;
  background-color: #f5f5f5;
  border-right: 0.5px solid rgb(137, 131, 131);
  border-width: 0.5px;
  width: calc(100% / 2);
  padding: 7px;
}

.data-value-cells {
  display: flex;
  text-align: right;

}

.data-value-cells div {
  border-right: 0.5px solid rgb(126, 123, 123);
  width: calc(100% / 2);
  padding: 4px;
  height: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: normal;

}



.border-right {
  border-right: 0.5px solid gray;
}

.border-left {
  border-left: 0.5px solid gray;
}

.border-bottom {
  border-bottom: 0.5px solid gray;
}

.border-none {
  border: none !important;
}

.subjects-container {
  border-bottom: 0.5px solid grey;
  height: 18px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  color: black;
  /* border: 10px solid #f3f3f3; */
  /* Light grey */
  /* border-top: 10px solid #383636; */
  /* Black */
  /* border-radius: 50%; */
  animation: spinner 1.5s linear infinite;
}

.loading-spinner:root svg {
  font-size: 14px;
}

.td {
  min-width: 90px;
  height: 20px;
  /* border: 0.5px solid rgb(137, 131, 131); */
  /* padding: 0; */
  text-align: right;

}

.spinner-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner-container .loading-spinner {
  color: black !important;
  font-size: 5px !important;
  width: 20px !important;
  height: 20px !important;
}

.marginleft {
  margin-left: 24px;
}

.paddingleft {
  padding-left: 24px;
}

.iconPadding {
  padding-left: 12px;
}

.td-cells-padding {
  padding-right: 6px
}

.icons-resize {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 0px;
  margin-right: 5px;
  position: absolute;
  left: 70%;
}

.icons-resize .ui5-icon-styles {
  color: black !important;
  font-size: 5px !important;
  width: 10px !important;
  height: 10px !important;
  padding: 3px !important;
}


/* .row-all-expand svg{
  font-size:15px;
  color:primary;
}
.column-all-expand svg{
  font-size:15px;
  color:primary;
} */